802.1x/rt2860apd
dns2tcp/dns2tcp/dns2tcp
dropbear/dropbearmulti
ebtables/ebtables-2.0.10-4/static
httpd/httpd
infosvr/infosvr
lanauth/lanauth
lldt/lld2d
miniupnpd/miniupnpd
mtd_write/mtd_write
networkmap/networkmap
nvram/nvram
pppoe/pppoe-discovery
pppoe-relay/pppoe-relay
ralinkiappd/ralinkiappd
rc/rc
resolveip/resolveip
shared/libshared.so
