*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.d
*.o
*.o.cmd
*.la
*.a
*.a.cmd
.libs
.depend
.dirstamp
.config
autom4te.cache
configure~
config.h.in~
config.log
config.status
config_done
stamp-h1

/.ccache
/build
/download
/romfs
/images
/stage
/tmp