### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI3"

CONFIG_32M_REBOOT_FIXUP=y

### Linux kernel and toolchain
CONFIG_FIRMWARE_INCLUDE_SFE=y

CONFIG_LINUXDIR=linux-4.4.x

############################################################
### Linux kernel configuration
############################################################

### 启用USB支持
CONFIG_FIRMWARE_ENABLE_USB=y

### NTFS文件系统AVM NTFS驱动.
CONFIG_FIRMWARE_INCLUDE_ANTFS=y

### 启用FAT/FAT32文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### 启用exFAT(包含FAT/FAT32)文件系统支持. ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### 启用EXT2文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=y

### 启用EXT3文件系统支持. ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=y

### 启用EXT4(包含EXT3/2)文件系统支持. ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### 启用XFS文件系统支持. ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=y

### 启用FUSE用户态文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### 启用SWAP交换分区/文件支持. ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=n

### UVC摄像设备模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=n

### USB-HID人体学接口设备模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### USB-Serial串口设备模块(e.g. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### USB-Audio音频设备模块. ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### XFRM(IPsec)网络安全协议内核模块. ~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### QoS网络调度模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### IMQ流量塑形模块(轻微影响性能). ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### IFB流量塑形模块. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### IPSet实用程序和内核模块. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### NFS网络文件系统v3版本服务器. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### NFS网络文件系统v3版本客户端. ~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### CIFS(SMB)网络文件共享客户端. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=y

############################################################
### Userspace configuration
############################################################

### 路由器网页界面语言选择
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### NTFS文件系统NTFS-3G驱动. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

### LPR打印程序. ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=n

### USB-over-Ethernet打印程序. ~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=n

### TCPdump网络抓包工具. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n

### HDparm硬盘高级电源管理(允许设置HDD减速超时和APM). ~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=n

### Parted磁盘分区工具(允许创建GPT分区). ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=n

### SMB网络文件共享服务器3.6版本(包含WINS). ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

### WINS微软网络名称转换服务器. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### SMB和WINS的系统日志. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y

### FTP文件传送协议服务器. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=y

### L2TP控制客户端RP-L2TP. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### 802.1X扩展认证协议EAP-TTLS和EAP-PEAP支持. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### 路由器网页界面HTTPS支持. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### SFTP安全文件传送协议服务器. openssl ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### dropbear网络安全外壳协议. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n

### dropbear对称密码和快速哈希. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### OpenSSH网络安全外壳协议. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### OpenVPN(需要IPv6支持). openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n

### StrongSwan开源IPsec方案. XFRM modules ~0.2MB, strongswan ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### OpenSSL椭圆曲线算法. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### OpenSSL可执行程序(用于生成证书). ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### IPTV多媒体xUPNPd服务器. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Minidlna多媒体UPnP服务器. ~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### Firefly多媒体服务器. ~1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### FFMPEG多媒体解码库(Minidlna和Firefly需要此库). ~0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n

### BT工具Transmission. openssl ~1.2MB, transmission ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### BT工具Transmission网页界面. ~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### Aria2下载工具. openssl ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=y

### Aria2下载工具网页界面. ~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y

### SSP代理(SS SSR Trojan)
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

### cURL网络数据传输命令行工具
CONFIG_FIRMWARE_INCLUDE_CURL=y

### scutclient校园网
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

### Dr.com校园网
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

### dogcom校园网
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n

### MiniEAP锐捷认证
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n

### inode校园网认证
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n

### SoftEtherVPN服务器
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

### SoftEtherVPN客户端
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

### SoftEtherVPN命令行
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

### vlmcsd模拟KMS服务器
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

### ttyd网页版远程终端
CONFIG_FIRMWARE_INCLUDE_TTYD=y

### Include msd_lite, replaces udpxy
CONFIG_FIRMWARE_INCLUDE_MSD_LITE=y

CONFIG_FIRMWARE_INCLUDE_LIBCGROUP=n

### lrzsz文件传输工具
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n

### Htop系统监控与进程管理
CONFIG_FIRMWARE_INCLUDE_HTOP=n

### nano文本编辑器命令行工具
CONFIG_FIRMWARE_INCLUDE_NANO=n

### Iperf3网络性能测试工具
CONFIG_FIRMWARE_INCLUDE_IPERF3=n

### Dump1090飞行轨迹
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

### RTL-SDR软件无线电
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

### Mtr网络诊断工具
CONFIG_FIRMWARE_INCLUDE_MTR=n

### Socat多功能的网络工具
CONFIG_FIRMWARE_INCLUDE_SOCAT=n

### socks5代理工具
CONFIG_FIRMWARE_INCLUDE_SRELAY=n

### mentohust锐捷认证
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

### frp内网穿透客户端
CONFIG_FIRMWARE_INCLUDE_FRPC=n

### frp内网穿透服务器
CONFIG_FIRMWARE_INCLUDE_FRPS=n

CONFIG_FIRMWARE_INCLUDE_REDSOCKS=n

### Include Shadowsocks
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

### Include xray  ~4.5M
CONFIG_FIRMWARE_INCLUDE_XRAY=y

### Include v2ray
CONFIG_FIRMWARE_INCLUDE_V2RAY=n

### Include trojan  ~1.2M
CONFIG_FIRMWARE_INCLUDE_TROJAN=y

### Include simple-obfs
CONFIG_FIRMWARE_INCLUDE_SSOBFS=n

### Include adbyby plus+
CONFIG_FIRMWARE_INCLUDE_ADBYBY=n

### DNS Services
CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n

CONFIG_FIRMWARE_INCLUDE_SMARTDNS=n

CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n

### zerotier ~1.3M
CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n

CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n

### ddnsto  ~0.5M
CONFIG_FIRMWARE_INCLUDE_DDNSTO=n

### ALDRIVER  ~3m
CONFIG_FIRMWARE_INCLUDE_ALDRIVER=n

CONFIG_FIRMWARE_INCLUDE_SQM=n

### wireguard 10k
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n

### CPU Overclocking
CONFIG_FIRMWARE_INCLUDE_OC=n
### Clock Rate: 1000Mhz=0x312 1100Mhz=0x362 1120Mhz=0x372 1200Mhz=0x3B2
CONFIG_FIRMWARE_MT7621_OC="0x312"
