#
# Kbuild ignores
#
.*
*.o
*.o.*
*.a
*.s
Kbuild

#
# Never ignore these
#
!.gitignore

#
# Normal output
#
/busybox
/busybox_old
/busybox_unstripped*

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

Config.in

applets/applet_tables
applets/usage
applets/usage_pod
busybox.links
docs/BusyBox.html
docs/BusyBox.txt
docs/busybox.1
docs/busybox.net/
docs/busybox.pod
include/NUM_APPLETS.h
include/applet_tables.h
include/applets.h
include/autoconf.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/config/
include/usage.h
include/usage_compressed.h
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c